<nav class="nav">
  <h1><a routerLink="">E-CommAOKM</a> </h1>
  <div  class="nav-search">
    <input type="text"
    #searchInput
     placeholder="Search Products" />
    <button  >Search</button>
    
  </div>

 <div > 
  <ul >
    <li><a routerLink="Product">Product</a></li>
    <li><a routerLink="">Home</a></li>
    <li><a routerLink="/user-auth">Login/Sign-up</a></li>
  </ul>
  <ul  >

    <li><a routerLink="">Home</a></li>
    <li><a >My Orders</a></li>

  </ul>
  <ul  >
    <li><a >Add Product</a></li>
    <li><a >List</a></li>

  </ul>
 </div>
</nav>