

    <section class="about" id="about">
        <div class="about-img">
            <img src="images/abdalaa2.jpg" alt="">
        </div>
        <div class="about-content">
            <h2 class="heading">About <span>Me</span></h2>
            <h3>Architect</h3>
            <p>Ambitious Architect striving to Design Buildings that Solve issues through sustainable and smart design, while adding my Creative imprint I'm committed to making a positive impact on communities and the environment through innovative architectural solutions. I aspire to become a famous architectural have cultivated a strong understanding of architectural principles and design methodologies, complemented by proficiency in industry sleading software.</p>
            <a href="#" class="btn">Read More</a>
        </div>
    </section>
