

    <section class="home" id="home">
        <div class="home-content">
            <h3>Hello, It's Me</h3>
            <h1>Abdalaa Khaleel</h1>
            <!-- <h3>And I'm a <span class="multiple-text"></span></h3> -->
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis culpa aut libero vel qui quisquam ab incidunt? Quod, deserunt? Consequatur temporibus, totam beatae in doloribus dolor earum ex!</p>
            <div class="social-media">
                <a href="https://www.facebook.com/abdalaa.khaleel.5" style="--i:6;"><i class='bx bxl-facebook' ></i></a>
                <a href="#" style="--i:7;"><i class='bx bxl-twitter'></i></a>
                <a href="#" style="--i:8;"><i class='bx bxl-instagram-alt'></i></a>
                <a href="#" style="--i:9;"><i class='bx bxl-linkedin'></i></a>
            </div>
            <a href="#" class="btn">Download CV</a>
        </div>
        <div class="home-img">
            <img src="images/abdalaa.jpg" alt="">
        </div>
    </section>
